













#sideBar {
    height: 70%;
    width: 20%;
    display: inline-block;
    background-color: purple;

}

#gameBody {
    height: 70%;
    width: 80%;
    display: inline-block;
    background-color: deeppink;
}

#cardContainer {
    height: 70%;
    width : 70%;
    display: inline-block;
    background-color: blue;
}
